<div class = "row">
		<div class = "col-md-4 col-md-offset-5">
			
		</div>

	<div class = "col-md-3 col-md-offset-5">
		<h2>How-Bout-Dat Burger!</h2>
	
	
	</div>
</div>

<div class = "row">
	<div class = "col-md-3 col-md-offset-3">
		<ul id ="eat">
		  {{#each burger}}
		  	<li class = "{{this.ID}} eat" >
		  		<p> {{this.ID}}. {{this.burger_name}}  <button class ="button {{this.ID}} ">Time to dig in!</button> </p>
		     

		    
		    
		        <!-- <input type="hidden" name="id" value="{{this.ID}}"> -->
		       
		  
		  	</li>
		  {{/each}}
		</ul>
	</div>


		<div class = col-md-3>
			<ul id = "eaten">
					



			</ul>

		</div>
</div>




<div class = "row">

	<div class = "col-md-6 col-md-offset-4">

	<form class="create-form" action ="/" method = "POST">

	  <div class="form-group">
	    <input type="text" id="entry" name="burgers">


	  </div>

	  <button type="submit" id = "sub">Submit</button>
	 
	</form>

	</div>

</div>
</body>



